*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: whitesmoke;
  overflow: none;
  background-image: url(../src/pages/images/jefferson-santos-9SoCnyQmkzI-unsplash.jpg);
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width:760px) {
  body{
    background-color: black;
    color: whitesmoke;
    overflow: hidden;
    background-image: url(../src/pages/images/jefferson-santos-9SoCnyQmkzI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}